/*tipografia raleway*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Raleway", sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}



/*-------------------------------header--------------------------------------*/

header {
    width: 100%;
}

.navbar {
    padding: 0;    
}

.navbar-brand {
    padding: 15px 4px 15px 15px;
    margin: 0;
}

.container-fluid {
    background-color: #000000;
    min-height: 70px;
    padding: 0;
}

.navbar-collapse {
    display: flex;
    justify-content: center; 
}

.navbar-expand-lg .navbar-nav {
    gap: 10px;
}

.navbar-toggler-icon {
    background-image: url('../pages/assets/img/burger-menu-svgrepo-com.svg');
    filter: invert(100%);
}

.nav-item:hover {
    background-color: #2A8E2E;
    color: black;    
}

.nav-item a {
    color: #2A8E2E;
    font-size: 20px;
    font-weight: 600;
}

.nav-item a:hover {
    color: #000000;
    font-size: 20px;
}

.lenguajes {
    background-color: #000000;
    display: flex;
    padding: 15px 15px 15px 50px;
}

.lenguajes ul {
    margin: 0;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: auto;
    color: #000000;
}

.lenguajes ul li {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 8px;
}

.lenguajes ul li a {
    color: #ffffff;
    text-decoration: none;
    list-style: none;
}


/*--------------------------------pagina index----------------------------*/
                       /*---------seccion intro----------*/
main {
    margin: 32px;
}

.intro {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    align-items: center;
    border-bottom: 1px solid #333333;
}

.intro-perfil {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.intro figure img {
    max-width: 80%;
    filter: grayscale(100%);
}

.intro-perfil h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

.intro-perfil h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

.intro-perfil p {
    margin-top: 8px;
    font-size: 1rem;
    max-width: 550px;
    margin-left: auto;
}

                         /*---------seccion habilidades-----------*/

.habilidades {
    margin: 32px 0;
}

.habilidades h3 {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}

.lista-habilidades {
    width: 90%;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 16px;
    margin: 32px auto 0 auto;
}

.habilidad-item {
    display: flex;
    flex-direction: column;
}

.habilidad-item h4 {
        font-size: 1rem;
    }

.habilidad-item div {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.habilidad-item figure img {
    width: 90%;
    border-radius: 8px;
}


/*--------------------------------pagina experiencia--------------------------*/

.experiencia {
    width: 1000px;
    margin: 40px auto;
    padding: 30px;
    box-shadow: 0 4px 12px #A9A9A9;
}

.titulo-exp {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}

.trayectoria,
.habilidades-contenedor {
    padding-top: 20px;
}

.trayectoria h2,
.habilidades-contenedor h2 {
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 10px;
}

.lineadetiempo-item,
.categoria-habilidad {
    margin-top: 25px;
}

.lineadetiempo-item h3,
.categoria-habilidad h3 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 10px;
    border-left: 5px solid #2A8E2E;
    padding-left: 8px;
}

.lineadetiempo-item p {
    font-size: 1rem;
    margin-bottom: 5px;
}

.lineadetiempo-item ul ul {
    padding-left: 20px; 
    margin: 8px 0;
}

.lineadetiempo-item ul ul li {
    list-style: none;
    margin-bottom: 5px;
}

/*-------------------------------pagina contacto--------------------------*/
                       /*-------seccion contacto--------*/


.contacto {
    display: flex;
    flex-direction: column;
}

.contacto h2 {    
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}

.contacto-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 90%;
    margin: 0 auto 60px auto;
}

.info-card {
    box-shadow: 0 4px 12px #A9A9A9;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-card h3 {
    font-size: 0.75rem;
    font-weight: 700;
    text-align: center;
    color: #333333;
    margin: 10px 0 5px;
}

.info-card p {
    font-size: 0.95rem;
    text-align: center;
    color: #555555;
    margin: 0;
}

.info-card img {
    width: 35px;
    height: 35px;
}

.info-card a {
    text-decoration: none;
}

.social-links {
    display: flex;
    margin: 0;
    list-style: none;
    gap: 10px;
    padding: 0;
    align-items: center;
}

.social-links img {
    width: 20px;
    height: 20px;
}

.behance-icon-card img {
    width: 25px;
    height: 25px;
    margin-top: 5px;
}

                             /*-------seccion formulario--------*/
       
.formulario {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px #A9A9A9;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
}
       
.form-label {
    font-weight: 600;
}
       
.btn-success {
    width: 100%;
    padding: 10px;
    font-weight: 600;
}


/*-------------------------------footer-----------------------------------*/

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #2A8E2E;
}

.footer-firma p {
    color: #ffffff;    
    font-size: 15px;
    margin-bottom: 0;
}

.redes-sociales {
    list-style: none;
    display: flex;
    gap: 10px;
    margin-bottom: 0;
}

.redes-sociales a img {
    width: 30px;
    height: 30px;
    filter: invert(100%);
}

.behance-icon a img {
    width: 35px;
    height: 35px;
}


/*-------------------------------------@mediasQ------------------------------------*/

/*-------------------------------@media 768 a 992---------------------------------*/

                        /*-------------header--------------*/

@media (min-width: 768px) and (max-width: 992px) {

    .navbar-brand img {
        width: 150px;
    }

    .nav-item a {
        font-size: 16px;
    }

    .lenguajes ul li a img {
        width: 12px;
        height: 12px;
    }


                      /*-------------contacto--------------*/

    .contacto-cards {
        grid-template-columns: repeat(2, 1fr);
        width: 75%;
    }
     
}  


/*-------------------------------@media 360 a 768--------------------------------*/

                        /*-------------header--------------*/

@media (min-width: 360px) and (max-width: 768px) {
     
    .navbar-brand img {
        width: 150px;
    }
    
    .navbar-toggler {
        order: 1;
        padding: 0;
        border: 0;
    }
    
    .lenguajes {
        order: 2;
    }    
    
    .navbar-collapse {
        order: 3;
    }

    .lenguajes ul li a img {
        width: 12px;
        height: 12px;
    }

    .nav-item a {
        font-size: 18px;
        padding: 4px 0;
        text-align: center;
    }

                             /*-------------contacto-----------*/

    .contacto-cards {
        grid-template-columns: 1fr;
        gap: 15px;
        width: 50%;
    }
    .contacto h2 {
        font-size: 1.25rem;
    }

}

/*-------------------------------@media 360 a 992--------------------------------*/

                        /*--------------index--------------*/
                        /*---------seccion intro-----------*/

@media (min-width: 360px) and (max-width: 992px) {

    main {
        margin: 8px 16px;
        width: 100%;
    }

    .intro {
        width: 90%;
        padding: 5%;
        grid-template-columns: 1fr;
        gap: 24px;
        margin: 25px;
    }

    .intro figure {
        max-width: 200px;
        height: auto;
        margin: 0 auto;
    }

    .intro figure img {
        max-width: 100%;
    }

    .intro-perfil {
        text-align: justify;
        align-items: center;
    }

    .intro-perfil h1 {
        font-size: 1.50rem;
    }

    .intro-perfil h2 {
        font-size: 1.15rem;
    }

    .intro-perfil p {        
        font-size: 0.75rem;
        margin-left: 0;
        text-align: justify;
    }

    
                        /*--------seccion habilidades---------*/

    .habilidades {
        width: 90%;
        padding: 0 5%;
        margin: 36px;
    }

    .habilidades h3 {
        font-size: 1.15rem;
        text-align: center;
        width: 90%;
    }

    .lista-habilidades {
        grid-template-columns: 1fr;
        gap: 8px;
        padding: 0;
    } 

    .lista-habilidades ul {
        width: 90%;
        padding: 0 5%
    }

    .habilidad-item {
        flex-direction: column;
    }

    .habilidad-item div {
        padding: 0 5%
    }
    
    .habilidad-item h4 {
        font-size: 1rem;
    }

    .habilidad-item figure {
        width: 100%;
        padding: 0 5%
    }

                        /*-----------pagina experiencia---------------*/

    .experiencia {
        width: 80%;
        margin: 20px auto;
    }

    .experiencia h2 {
        font-size: 1.15rem;
    }

    .trayectoria h2,
    .habilidades-contenedor h2 {
        text-align: center;
    }
    
    .lineadetiempo-item h3,
    .categoria-habilidad h3 {
        font-size: 1rem;
    }   

    .lineadetiempo ul li a {
        font-size: 12px;
    }

                            /*-------------footer--------------*/

    footer {
        flex-direction: column;
        align-items: center;
        padding: 8px 16px;
        gap: 10px;
        width: 100%;
    }

    .footer-firma p {
        font-size: 12px;
        text-align: center;
    }

    .redes-sociales {
        margin-top: 8px;
        justify-content: center;
    }
}