//BASE
@use "./partials/base/_tipografia";
@use "./partials/base/_reset";

//COMPONENTS
@use "./partials/components/header";
@use "./partials/components/home";
@use "./partials/components/mi-portfolio";
@use "./partials/components/que-ofrezco";
@use "./partials/components/experiencia";
@use "./partials/components/contacto";
@use "./partials/components/footer";
@use "./partials/components/mediaqueries";