//BASE
@use "./partials/base/_tipografia";
@use "./partials/base/_reset";

//COMPONENTS
@use "./partials/components/header";
@use "./partials/components/footer";
@use "./partials/components/cards";
@use "./partials/components/contacto";
@use "./partials/components/mediaqueries";
