@use "../utilities/mixins";
@use "../utilities/variables";


.titulo-exp {
    font-size: variables.$font-size-h2-h3;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}

.trayectoria {
    padding-top: 20px;    
    box-shadow: 0 4px 12px variables.$shadow-color;
    width: 1000px;
    margin: auto;
    padding: 30px;

    h2 {
        font-size: variables.$font-size-h2-h3;
        font-weight: 600;
        padding-bottom: 10px;
    }
}

.habilidades-contenedor {
    padding-top: 20px;

    h2 {
        font-size: variables.$font-size-h2-h3;
        font-weight: 500;
        padding-bottom: 10px;
    }
}

.categoria-habilidad {
    margin-top: 25px;

    h3 {
        font-size: variables.$font-size-h2-h3;
        font-weight: 500;
        margin-bottom: 10px;
        border-left: 5px solid variables.$main-color;
        padding-left: 8px;
    }
}

.lineadetiempo-item {
    margin-top: 25px;

    h3 {
        font-size: variables.$font-size-h2-h3;
        font-weight: 500;
        margin-bottom: 10px;
        border-left: 5px solid variables.$main-color;
        padding-left: 8px;
    }

    p {
        font-size: variables.$font-size-h4-p;
        margin-bottom: 
        5px;
    }

    ul ul {
        padding-left: 20px;
        margin: 8px 0;

        li {
            list-style: none;
            margin-bottom: 5px;
        }
    }
}