@use "../utilities/mixins";
@use "../utilities/variables";


.titulo-exp {
    font-size: variables.$font-size-h2-h3;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}

.trayectoria {
    padding-top: 20px;    
    box-shadow: 0 4px 12px variables.$shadow-color;
    width: 1000px;
    margin: auto;
    padding: 30px;

    h2 {
        font-size: variables.$font-size-h2-h3;
        font-weight: 600;
        padding: 20px 0;
    }
}

.habilidades-contenedor {
    padding-top: 20px;

    h2 {
        font-size: variables.$font-size-h2-h3;
        font-weight: 500;
        padding-bottom: 10px;
    }
}

.categoria-habilidad {
    margin-top: 25px;

    h3 {
        font-size: variables.$font-size-h2-h3;
        font-weight: 500;
        margin-bottom: 10px;
        border-left: 5px solid variables.$second-color;
        padding-left: 8px;
    }

    p {
        font-size: variables.$font-size-h4-p;
        margin-bottom: 
        5px;
    }

    ul ul {
        padding-left: 20px;
        margin: 8px 0;

        li {
            list-style: none;
            margin-bottom: 5px;
        }
    }
}

//SECCION CERTIFICACIONES

.certificaciones {
    margin: 60px 0 20px 0;

    h3 {
        font-size: variables.$font-size-h2-h3;
        font-weight: 500;
        text-align: center;
        margin-bottom: 10px;
    }    
}

.modulos-certif {
    @include mixins.flex(row, center, center);
    width: 100%;
    gap: 10px;
    padding: 20px;
    margin: 10px auto;

    h4 {
        font-size: variables.$font-size-h4-p;
        font-weight: 600;
        text-align: center;
        color: variables.$text-color;
    }

    p {
        font-size: variables.$font-size-h4-p;
        text-align: center;
        color: variables.$text-color;
    }
}

.modulo-item-certif {
    @include mixins.flex(column, center, center); 
    border: 0.5px solid variables.$second-color;
    border-radius: 8px;
    padding: 30px 10px;

    img {
        @include mixins.size-img(190px, 110px); 
    }

    a {
        font-size: 15px;
        margin-bottom: 5px;
    }

}
