@use "../utilities/mixins";
@use "../utilities/variables";
@use "../utilities/extend";

footer {
    @include mixins.flex(column, space-between, center);
    background-color: variables.$main-color;
}

.footer-seccion-superior {
    width: 100%;
    padding: 30px 60px 0 60px;
    @include mixins.flex(row, space-between, 0);    
    border-bottom: 1px solid variables.$second-hover;
    
    h2 {
        color: variables.$white;
        font-weight: 700;
        font-size: variables.$font-size-h2-h3;
        margin-bottom: 5px;
    }
    
    p {
        color: variables.$white;
        font-size: variables.$font-size-h4-p;
        opacity: 0.8;
    }
}

.footer-seccion-inferior {
    @include mixins.flex(row, space-between, center);
    padding: 15px 30px;
}

.footer-firma {

    p {
        color: variables.$white;
        font-size: 15px;
        margin-bottom: 0;
    }
}

.redes-sociales {
    list-style: none;
    @extend %social-lista;

    a img {
        @include mixins.size-img(30px, 30px);
        filter: invert(100%);
    }
}

.behance-icon a img {
    @include mixins.size-img(35px, 35px);
}