@use "../utilities/variables";
@use "../utilities/mixins";

header {
    width: 100%;
}

.navbar {
    padding: 0;
}

.container-fluid {
    background-color: variables.$text-color;
    min-height: 70px;
    padding: 0;
}

.navbar-brand {
    padding: 15px 4px 15px 15px;
    margin: 0;
}

.logo-animado {
    animation-duration: 1s;

    &:hover {
        animation-name: pulse;
    }
}

.navbar-expand-lg .navbar-nav {
    gap: 10px;
}

.navbar-collapse {
    display: flex;
    justify-content: center; 
}

.navbar-toggler-icon {
    background-image: url('../pages/assets/img/burger-menu-svgrepo-com.svg');
    filter: invert(100%);
}

.nav-item {

    &:hover {
        background-color: variables.$main-color;
        color: variables.$text-color;
    }
}

.nav-item a {
    color: variables.$main-color;
    @include mixins.font-style(20px, 600);

    &:hover {
        color: variables.$text-color;
        font-size: 20px;
    }
}

.lenguajes {
    background-color: variables.$text-color;
    display: flex;
    padding: 15px 15px 15px 50px;

    ul {
        margin: 0;
        padding: 5px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin: auto;
        color: variables.$text-color;

        li {
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 8px;

            a {
                color: variables.$white;
                text-decoration: none;
                list-style: none;
            }
        }
    }
}



