@use "../utilities/variables";
@use "../utilities/mixins";
@use "../utilities/extend";

header {
    width: 100%;
}

.navbar {
    padding: 0;
}

.container-fluid {
    background-color: variables.$background-header;
    min-height: 70px;
    padding: 0;
    border-bottom: 0.5px solid variables.$main-color;
}

.navbar-brand {
    padding: 15px 4px 15px 15px;
    margin: 0;    
    cursor: default;
}

.logo-animado {
    animation-duration: 1s;
    filter: invert(100%);

    &:hover {
        animation-name: pulse;
        cursor: default;
    }
}

.navbar-expand-lg .navbar-nav {
    gap: 10px;
}

.navbar-collapse {
    display: flex;
    justify-content: center; 
}

.navbar-toggler-icon {
    background-image: url('../assets/img/burger-menu-svgrepo-com.svg');
}

.nav-item {

    &:hover {
        background-color: variables.$second-hover;
        color: variables.$text-color;
        border-radius: 8px;
    }
}

.nav-item a {
    color: variables.$main-color;
    @include mixins.font-style(20px, 600);

    &:hover {
        color: variables.$text-color;
    }
}

.boton-hablemos {
        background-color: variables.$second-color;
        color: variables.$white;
        text-decoration: none;
        font-weight: 600;
        padding: 8px 50px;
        border-radius: 5px;
        margin: 0 15px;

        &:hover {
            background-image: linear-gradient(55deg, variables.$main-color, variables.$second-color);
        }
}

.boton-invisible {
    visibility: hidden;
}

.selector-idioma {
        display: flex;
        align-items: center;
        margin: 0 15px;
        cursor: pointer;
        position: relative;

        .globo {
            @include mixins.size-img(30px, 30px);

            &:hover {
                opacity: 0.8;
            }
        } 
        
        &:hover .opciones-idioma {
        display: block; 
    }
}

.opciones-idioma {
        display: none; 
        position: absolute;
        top: 100%; 
        right: 0;
        list-style: none;
        margin: 0;
        padding: 10px;
        background-color: variables.$black;
        border: 1px solid variables.$main-color; 
        border-radius: 5px;

        li {
            padding: 5px 5px;
            
            a {
                color: variables.$white;
                text-decoration: none;
                font-size: 10px;
                display: block;

                &:hover {
                    color: variables.$main-color; 
                }
            }
        }
    
    &:hover .opciones-idioma {
        display: block;
    }
}
 