@use "../utilities/mixins";
@use "../utilities/variables";

main {
    margin: 32px;
}

.intro {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    align-items: center;

    figure img {
        max-width: 80%;
        filter: grayscale(100%);
    }
}

.intro-perfil {
    display: flex;
    flex-direction: column;
    text-align: right;

    h1 {
        font-size: variables.$font-size-h1;
        font-weight: 600;
    }

    h2 {
        font-size: variables.$font-size-h2-h3;
        font-weight: 500;
        text-align: right;
    }

    p {
        margin-top: 8px;
        font-size: variables.$font-size-h4-p;
        max-width: 550px;
        margin-left: auto;
    }
}

.habilidades {
    margin: 40px 0;

    h3 {
        font-size: variables.$font-size-h2-h3;
        font-weight: 500;
        text-align: center;
    }
}

.modulos {
    @include mixins.flex(row, center, center);
    width: 90%;
    gap: 20px;
    padding: 20px;
    margin: 10px auto;
    border-radius: 8px;
    box-shadow: 0 4px 12px variables.$shadow-color;

    h4 {
        font-size: variables.$font-size-h4-p;
        font-weight: 600;
        text-align: center;
        color: variables.$text-color;
    }

    p {
        font-size: variables.$font-size-h4-p;
        text-align: center;
        color: variables.$text-color;
    }
}

.modulo-item {
    @include mixins.flex(column, center, center); 
    gap: 20px;   
    padding: 0 10px;

    img {
        @include mixins.size-img(30px, 30px);        
    }
}

