@use "../utilities/variables";
@use "../utilities/mixins";




//HEADER

//@media 890 a 1099

@media (min-width: 890px) and (max-width: 1099px) {

    .navbar-brand img {
        width: 150px;
    }

    .nav-item a {
        font-size: 16px;
    }

    .boton-hablemos {
        font-weight: 300;
        padding: 4px 20px;
        border-radius: 5px;
        margin: 0 15px;
    }

    .lenguajes ul li a img {
        width: 12px;
        height: 12px;
    }
}   

//@media 768 a 890

@media (min-width: 768px) and (max-width: 890px) {

    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .nav-item a {
        font-size: 20px;
    }

    .navbar-brand img {
        width: 150px;
    }         
    
    .navbar-collapse {
        order: 3;
    }

    .boton-hablemos {
        font-weight: 400;
        padding: 4px 20px;
        border-radius: 5px;
        margin: 0;
        font-size: 15px;
    }      

}

//@media 360 a 768

@media (min-width: 360px) and (max-width: 768px) {    

    .navbar-brand img {
        width: 120px;
    }
    
    .boton-hablemos {
        order: 1;
        font-weight: 400;
        padding: 10px 10px;
        border-radius: 5px;
        margin: 0;
        font-size: 8px;
    }  

    .selector-idioma {
        order: 2;

        .globo {
            width: 15px;
            height: 15px;
            margin: 0;
        }
    }

    .navbar-collapse {
    order: 3;
}
}

//FOOTER

//@media 360 a 768


@media (min-width: 360px) and (max-width: 768px) {

    .footer-seccion-superior {
        flex-direction: column;
        text-align: center;
    }

    .redes-sociales {
        margin: 10px 0;
        justify-content: center;
    }
}


//MAIN

//@media 890 a 1099

@media (min-width: 890px) and (max-width: 1099px) {

    .intro-perfil p {
        font-size: 12px;
    }

    .habilidades {

        h3 {
            font-size: 1rem;
        }
    }

    .modulos {
        gap: 10px;
        padding: 10px;

        .modulo-item {
            padding: 20px;

            p {
                font-size: 0.7rem;
            }
        }
    }
}

//@media 768 a 890

@media (min-width: 768px) and (max-width: 890px) {

    .intro-perfil {

        h1 {
            font-size: 1.5rem;
        }

        h2 {
            font-size: 1rem;
        }

        p {
            font-size: 0.7rem;
        }
    }    

    .habilidades {

        h3 {
            font-size: 1rem;
        }
    }

    .modulos {
        gap: 0;

        .modulo-item {
            padding: 5px;

            p {
                font-size: 0.7rem;
            }
        }
    }
}

//@media 360 a 768

@media (min-width: 360px) and (max-width: 768px) {

    .intro {
        display: flex;
        flex-direction: column;

        figure img {
            max-width: 50%;
            display: block;    
            margin: 0 auto;
        }
    }

    .intro-perfil {

        h1 {
            text-align: center;
            font-size: 1.5rem;
        }

        h2 {
            text-align: center;
            font-size: 1rem;
        }

        p {
            text-align: justify;
            font-size: 0.6rem;
        }
    }

    .modulos {
        flex-direction: column;
        width: 70%;

        .modulo-item {
            padding: 0;

            img {
                width: 19px;
                height: 19px;
            }

            h4 {
                font-size: 0.8rem;
                margin: 0;
            }

            p {
                font-size: 0.7rem;
            }

        }
    }

    .habilidades {

        h3 {
            font-size: 1rem;
        }
    }

    .descubrir-portfolio {
        font-size: 0.8rem;
    }

}

//PORFOLIO

//media 890 a 1099

@media (min-width: 890px) and (max-width: 1099px) {

    .porque-elegirnos {

        h3 {
            font-size: 1rem;
        }

        p {
            font-size: 0.8rem;
        }
    }

    .modulos-pq-elegirnos {
        gap: 10px;
        padding: 10px;

        .modulo-item {
            padding: 20px;

            p {
                font-size: 0.7rem;
            }
        }
    }
}


//@media 768 a 890

@media (min-width: 768px) and (max-width: 890px) {

    .porque-elegirnos {

        h3 {
            font-size: 1rem;
        }

        p {
            font-size: 0.8rem;
        }
    }

    .modulos {
        gap: 0;

        .modulo-item {
            padding: 5px;

            p {
                font-size: 0.7rem;
            }
        }
    }
}


//media 768 a 1099

@media (min-width: 768px) and (max-width: 1099px) {

    .card-habilidad {

        h3 {
            font-size: 1rem;
        }

        p {
            font-size: 0.7rem;
        }
    }  

}

//media 360 a 768

@media (min-width: 360px) and (max-width: 768px) {

    .que-ofrezco {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 80%;

        h2 {
            font-size: 1.2rem;
        }

        .card-habilidad {
            gap: 5px;
            margin: 10px 30px;
            padding: 20px 40px;
            min-height: 200px;

            p {
                font-size: 0.7rem;
            }
        }

        h3 {
            font-size: 1rem;
        }
    }

    .modulos-pq-elegirnos {
        flex-direction: column;
        width: 70%;

        .modulo-item {
            padding: 0;

            img {
                width: 19px;
                height: 19px;
            }

            h4 {
                font-size: 0.8rem;
                margin: 0;
            }

            p {
                font-size: 0.7rem;
            }

        }
    }

    .porque-elegirnos {

        h3 {
            font-size: 1rem;
        }

        p {
            font-size: 0.7rem;
        }
    }
}


