@use "../utilities/variables";
@use "../utilities/mixins";
@use "../utilities/extend";


//HEADER

//@media 890 a 1099

@media (min-width: 890px) and (max-width: 1099px) {

    .navbar-brand img {
        width: 150px;
    }

    .nav-item a {
        font-size: 16px;
    }

    .boton-hablemos {
        font-weight: 300;
        padding: 4px 20px;
        border-radius: 5px;
        margin: 0 15px;
    }

    .lenguajes ul li a img {
        width: 12px;
        height: 12px;
    }
}   

//@media 768 a 890

@media (min-width: 768px) and (max-width: 890px) {

    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .nav-item a {
        font-size: 20px;
    }

    .navbar-brand img {
        width: 150px;
    }         
    
    .navbar-collapse {
        order: 3;
    }

    .boton-hablemos {
        font-weight: 400;
        padding: 4px 20px;
        border-radius: 5px;
        margin: 0;
        font-size: 15px;
    }      

}

//@media 360 a 768

@media (min-width: 360px) and (max-width: 768px) {    

    .navbar-brand img {
        width: 120px;
    }
    
    .boton-hablemos {
        order: 1;
        font-weight: 400;
        padding: 10px 10px;
        border-radius: 5px;
        margin: 0;
        font-size: 14px;
    }  

    .selector-idioma {
        order: 2;

        .globo {
            width: 20px;
            height: 20px;
            margin: 0;
        }
    }

    .navbar-collapse {
    order: 3;
    }
}

//HOME

//@media 890 a 1099

@media (min-width: 890px) and (max-width: 1099px) {

    .intro-perfil p {
        font-size: 14px;
    }

    .habilidades {

        h3 {
            font-size: 1rem;
        }
    }

    .modulos {
        gap: 10px;
        padding: 10px;

        .modulo-item {
            padding: 20px;

            p {
                font-size: 0.9rem;
            }
        }
    }
}

//@media 768 a 890

@media (min-width: 768px) and (max-width: 890px) {

    .intro-perfil {

        h1 {
            font-size: 1.5rem;
        }

        h2 {
            font-size: 1rem;
        }

        p {
            font-size: 0.9rem;
        }
    }    

    .habilidades {

        h3 {
            font-size: 1rem;
        }
    }

    .modulos {
        gap: 0;

        .modulo-item {
            padding: 5px;

            p {
                font-size: 0.9rem;
            }
        }
    }
}

//@media 360 a 768

@media (min-width: 360px) and (max-width: 768px) {

    .intro {
        display: flex;
        flex-direction: column;

        figure img {
            max-width: 50%;
            display: block;    
            margin: 0 auto;
        }
    }

    .intro-perfil {

        h1 {
            text-align: center;
            font-size: 1.5rem;
        }

        h2 {
            text-align: center;
            font-size: 1rem;
        }

        p {
            text-align: justify;
            font-size: 0.9rem;
        }
    }

    .modulos {
        flex-direction: column;
        width: 90%;

        .modulo-item {
            padding: 0;

            img {
                width: 19px;
                height: 19px;
            }

            h4 {
                font-size: 0.9rem;
                margin: 0;
            }

            p {
                font-size: 0.9rem;
            }

        }
    }

    .habilidades {

        h3 {
            font-size: 1rem;
        }
    }

    .descubrir-portfolio {
        font-size: 0.9rem;
    }

}

//PORTFOLIO

@media (min-width: 360px) and (max-width: 768px) {

    .proyecto-item {

        .contenedor-enlace {

            .enlace-superior {
                font-size: 0.9rem;
            }
            
        }
    }
}


//QUE OFREZCO

//media 890 a 1099

@media (min-width: 890px) and (max-width: 1099px) {

    .porque-elegirnos {

        h3 {
            font-size: 1rem;
        }

        p {
            font-size: 0.9rem;
        }
    }

    .modulos-pq-elegirnos {
        gap: 10px;
        padding: 10px;

        .modulo-item {
            padding: 20px;

            p {
                font-size: 0.9rem;
            }
        }
    }
}


//@media 768 a 890

@media (min-width: 768px) and (max-width: 890px) {

    .porque-elegirnos {

        h3 {
            font-size: 1rem;
        }

        p {
            font-size: 0.9rem;
        }
    }

    .modulos {
        gap: 0;

        .modulo-item {
            padding: 5px;

            p {
                font-size: 0.9rem;
            }
        }
    }
}


//media 768 a 1099

@media (min-width: 768px) and (max-width: 1099px) {

    .card-habilidad {

        h3 {
            font-size: 1rem;
        }

        p {
            font-size: 0.9rem;
        }
    }  

}

//media 360 a 768

@media (min-width: 360px) and (max-width: 768px) {

    .que-ofrezco {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        margin: 0 auto;
        width: 95%;        

        h2 {
            grid-column: 1/-1;
            font-size: 1.2rem;
            margin-bottom: 10px;
        }

        .card-habilidad {
            gap: 5px;
            margin: 10px 0;
            padding: 10px;
            min-height: auto;

            img {
                width: 20px;
                height: 20px;
            }

            p {
                font-size: 0.9rem;
                text-align: left;
            }
        }

        h3 {
            font-size: 1rem;
        }
    }

    .modulos-pq-elegirnos {
        flex-direction: column;
        width: 90%;

        .modulo-item {
            padding: 0;

            img {
                width: 19px;
                height: 19px;
            }

            h4 {
                font-size: 0.9rem;
                margin: 0;
            }

            p {
                font-size: 0.9rem;
            }

        }
    }

    .porque-elegirnos {
        margin: 25px;

        h3 {
            font-size: 1rem;
        }

        p {
            font-size: 0.9rem;
        }
    }
}

//EXPERIENCIA

//media 360 a 1099

@media (min-width: 360px) and (max-width: 1099px) {

    .trayectoria {
        width: 75%;

        h2 {
            font-size: 1.2rem;
        }
    }

    .categoria-habilidad {

        h3 {
            font-size: 1.1rem;
        }

        p {
            font-size: 0.9rem;
        }
    }

}

//media 768 a 1099

@media (min-width: 768px) and (max-width: 1099px) {

    .certificaciones {

        h3 {
            font-size: 1.1rem;
        }
    }

    .modulos-certif {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

}

//media 360 a 768

@media (min-width: 360px) and (max-width: 768px) {

    .trayectoria {
        width: 90%;
        padding: 20px;

        h2 {
            padding: 5px 0;
        }
    }

    .modulos-certif {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        padding: 16px;
        width: 95%;
        margin: 10px auto;

            .modulo-item-certif {
                padding: 16px 10px;
                width: 100%;
                height: 100%;

                    img {
                        width: 100%;
                        height: auto;
                        max-height: 120px;
                        object-fit: contain;
                    }

                    h4 {
                        font-size: 0.95rem;
                        margin-top: 8px;
                    }
            }
    }
}

//CONTACTO

//media 360 a 890

@media (min-width: 360px) and (max-width: 890px) {

    .contacto-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        width: 90%;
        min-height: 300px;

        .info-card {
            width: 100%;
            padding: 10px;
            min-height: 150px;
            height: auto;

            h3 {
                font-size: 1rem;
                text-align: center;
                margin-bottom: 10px;
            }

            p {
                font-size: 0.9rem;
                text-align: center;
            }

            img {
                width: 20px;
                height: 20px;
                margin-bottom: 8px;
            }
        }  
    }

    .preguntas-frecuentes {
        padding: 0;
    }

    .proyectos-descripcion {
        grid-template-columns: repeat(2, 1fr);
        width: 95%;
        margin: 20px auto;
        gap: 16px;

        .proyecto-item {

            h4 {
                font-size: 1.1rem;
            }
        }
    }
}

//FOOTER

//@media 360 a 768


@media (min-width: 360px) and (max-width: 768px) {

    .footer-seccion-superior {
        flex-direction: column;
        text-align: center;
    }

    .redes-sociales {
        margin: 10px 0;
        justify-content: center;
    }

    .footer-firma {

        p {
            text-align: center;
        }
    }
}

