@use "../utilities/mixins";
@use "../utilities/variables";
@use "../utilities/extend";


.portfolio-h2 {
    font-size: variables.$font-size-h2-h3;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}

.carousel.slide {
    max-width: 800px; 
    margin-left: auto; 
    margin-right: auto; 
}

.carousel-item .active {
    text-align: center;
}

.carousel-item .img-portfolio-carrusel {
     width: 100%;
    object-fit: contain;
    display: block;
    margin: 0 auto; 
    border: 3px solid variables.$second-color;
    border-radius: 8px;
}

.contenedor-enlace {
    text-align: center;

    .enlace-superior {
        @include mixins.flex (row, center,center);
        color: variables.$main-color;
        font-weight: 600;
        margin-bottom: 10px;

        .imagen-enlace {
            width: 20px;
            height: 20px;
            margin-right: 5px;
        }
    }
    
}

.carousel-caption { 

    h3 {
        margin-bottom: 0.1rem;
        color: variables.$white;
    }

    h4 {
        margin-bottom: 0.1rem;
        color: variables.$shadow-color; 
    }
}


