@use "../utilities/mixins";
@use "../utilities/variables";
@use "../utilities/extend";

body {
    background-color: variables.$background-color;
}

.portfolio-h2 {
    font-size: variables.$font-size-h2-h3;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}

.carousel.slide {
    max-width: 800px; 
    margin-left: auto; 
    margin-right: auto; 
}

.carousel-item .active {
    text-align: center;
}

.carousel-item .img-portfolio-carrusel {
    width: 100%;
    object-fit: contain;
    display: block;
    margin: 0 auto; 
    border: 3px solid variables.$second-color;
    border-radius: 8px;
}


.carousel-caption { 

    h3 {
        margin-bottom: 0.1rem;
        color: variables.$white;
    }

    h4 {
        margin-bottom: 0.1rem;
        color: variables.$text-color; 
        background-color: variables.$second-hover;
        border-radius: 8px;
    }
}

// SECCIÓN DE DESCRIPCIÓN DE PROYECTOS

.proyectos-descripcion {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto 40px auto;
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px;

    .portfolio-h3 {
        font-size: variables.$font-size-h2-h3;
        grid-column: 1 / -1;
        text-align: center;
        margin-bottom: 20px;
    }

        .proyecto-item {
            @include mixins.flex (column, space-around, center);
            margin-bottom: 32px;
            padding-bottom: 24px;
            background-color: variables.$white;
            @extend %card-base;                

                h4 {
                    @include mixins.font-style (1.3rem, 600);
                    color: variables.$text-color;
                    margin-bottom: 10px;
                    text-align: center;
                }

                p {
                    font-size: 0.9rem;
                    margin: 0;
                }
        }
}

.contenedor-enlace {
    margin-top: 20px;

    .enlace-superior {
        @include mixins.flex (row, center,flex-start);
        color: variables.$main-color;
        font-weight: 600;
        text-decoration: none;

        .imagen-enlace {
            width: 20px;
            height: 20px;
            margin-right: 5px;
        }
    }
    
}
