@use "../utilities/mixins";
@use "../utilities/variables";

.portfolio-h2 {
        font-size: variables.$font-size-h2-h3;
        font-weight: 600;
        color: variables.$text-color; 
        margin-bottom: 30px;
        text-align: center;
    
}