@use "../utilities/mixins";
@use "../utilities/variables";


.portfolio-h2 {
    font-size: variables.$font-size-h2-h3;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}

.carousel.slide {
    max-width: 800px; 
    margin-left: auto; 
    margin-right: auto; 
}

.carousel.slide .carousel-inner {
    height: 500px;
    width: 100%; 
    display: inline-grid;
}

.carousel-item .active {
    text-align: center;
}

.carousel-item .img-portfolio-carrusel {
    width: 100%;
    object-fit: contain;
    display: block;
    margin: 0 auto; 
    border: 3px solid variables.$second-color;
    border-radius: 8px;
}

.contenedor-enlace {
    text-align: center;

    .enlace-superior {
        @include mixins.flex (row, center,center);
        color: variables.$main-color;
        font-weight: 600;
        margin-bottom: 10px;

        .imagen-enlace {
            width: 30px;
            height: 30px;
            margin-right: 5px;
        }
    }
    
}

.carousel-caption {  
    width: 300px;  
    height: 100px;
    margin: 0 auto;
    bottom: 11rem; 
    text-align: center;
    background-color: variables.$second-hover;
    border: 2px solid variables.$second-color;
    border-radius: 8px;

    h3 {
        margin-bottom: 0.1rem;
        color: variables.$black;
    }

    h4 {
        margin-bottom: 0.1rem;
        color: variables.$shadow-color; 
    }
}
