@use "../utilities/mixins";
@use "../utilities/variables";

.que-ofrezco {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    h2 {
        grid-column: 1/4;
        font-size: variables.$font-size-h2-h3;
        font-weight: 600;
        text-align: center;
        margin-bottom: 40px;
    }
}

.card-habilidad {
    @include mixins.flex(column, flex-start, center);
    gap: 20px;
    padding: 20px;
    margin: 10px;
    border: 1px solid variables.$white; 
    border-radius: 8px;
    box-shadow: 0 2px 4px variables.$shadow-color;

    img {
        @include mixins.size-img(30px, 30px);
    }

    h3 {
        font-size: variables.$font-size-h2-h3;
        text-align: center;
        font-weight: 600;
        color: variables.$text-color;
    }

    p {
        font-size: variables.$font-size-h4-p;
        text-align: center;
        color: variables.$text-color;
    }
}