@use "../utilities/mixins";
@use "../utilities/variables";

.que-ofrezco {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    h2 {
        grid-column: 1/4;
        font-size: variables.$font-size-h2-h3;
        font-weight: 600;
        text-align: center;
        margin-bottom: 40px;
    }
}

.card-habilidad {
    @include mixins.flex(column, flex-start, center);
    gap: 20px;
    padding: 20px;
    margin: 10px;
    min-height: 400px;
    border: 1px solid variables.$white; 
    border-radius: 8px;
    box-shadow: 0 4px 10px variables.$shadow-color;
    transition: all 0.3s ease-out;

        &:hover { 
            transform: translateY(-5px); 
            box-shadow: 0 8px 16px;
        }

    img {
        @include mixins.size-img(35px, 35px);
        filter: grayscale(100);
    }

    h3 {
        font-size: variables.$font-size-h2-h3;
        text-align: center;
        font-weight: 600;
        color: variables.$text-color;
    }

    p {
        font-size: variables.$font-size-h4-p;
        text-align: justify;
        color: variables.$text-color;
    }
}

.porque-elegirnos {
    margin: 60px 0;

    h3 {
        font-size: variables.$font-size-h2-h3;
        font-weight: 500;
        text-align: center;
    }    

    p {
        font-size: variables.$font-size-h4-p;
        text-align: center;        
    }
}

//SECCION PQ ELEGIRNOS

.modulos-pq-elegirnos {
    @include mixins.flex(row, center, center);
    width: 90%;
    gap: 20px;
    padding: 20px;
    margin: 10px auto;
    border: 0.5px solid variables.$second-color;
    border-radius: 8px;

    h4 {
        font-size: variables.$font-size-h4-p;
        font-weight: 600;
        text-align: center;
        color: variables.$text-color;
    }

    p {
        font-size: variables.$font-size-h4-p;
        text-align: center;
        color: variables.$text-color;
    }
}

.modulo-item {
    @include mixins.flex(column, center, center); 
    gap: 20px;   
    padding: 0 50px;

    img {
        @include mixins.size-img(30px, 30px);        
    }
}