@mixin flex ($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin size-img ($width, $height) {
    width: $width;
    height: $height;
}

@mixin font-style ($size, $weight) {
    font-size: $size;
    font-weight: $weight;
}