$main-color: #2A8E2E;
$second-color: #80881C;
$second-hover: #e2e9ae;
$black: #000000;
$white: #ffffff;
$shadow-color: #A9A9A9;
$text-color: #333333;
$background-header: #ffffff;
$background-color: #f0f0f0;
$font-size-h1: 2.5rem;
$font-size-h2: 2rem;
$font-size-h3: 1.25rem;
$font-size-h4-p: 1rem;