/*tipografia raleway*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
/* font-family: "Raleway", sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

header {
  width: 100%;
}

.navbar {
  padding: 0;
}

.container-fluid {
  background-color: #333333;
  min-height: 70px;
  padding: 0;
}

.navbar-brand {
  padding: 15px 4px 15px 15px;
  margin: 0;
}

.navbar-expand-lg .navbar-nav {
  gap: 10px;
}

.navbar-collapse {
  display: flex;
  justify-content: center;
}

.navbar-toggler-icon {
  background-image: url("../pages/assets/img/burger-menu-svgrepo-com.svg");
  filter: invert(100%);
}

.nav-item:hover {
  background-color: #2A8E2E;
  color: #333333;
}

.nav-item a {
  color: #2A8E2E;
  font-size: 20px;
  font-weight: 600;
}
.nav-item a:hover {
  color: #333333;
  font-size: 20px;
}

.lenguajes {
  background-color: #333333;
  display: flex;
  padding: 15px 15px 15px 50px;
}
.lenguajes ul {
  margin: 0;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: auto;
  color: #333333;
}
.lenguajes ul li {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 8px;
}
.lenguajes ul li a {
  color: #ffffff;
  text-decoration: none;
  list-style: none;
}

main {
  margin: 32px;
}

.intro {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  align-items: center;
  border-bottom: 1px solid #333333;
}
.intro figure img {
  max-width: 80%;
  filter: grayscale(100%);
}

.intro-perfil {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.intro-perfil h1 {
  font-size: 2.5rem;
  font-weight: 600;
}
.intro-perfil h2 {
  font-size: 1.5rem;
  font-weight: 500;
}
.intro-perfil p {
  margin-top: 8px;
  font-size: 1rem;
  max-width: 550px;
  margin-left: auto;
}

.experiencia {
  width: 1000px;
  margin: 40px auto;
  padding: 30px;
  box-shadow: 0 4px 12px #A9A9A9;
}

.titulo-exp {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

.trayectoria {
  padding-top: 20px;
}
.trayectoria h2 {
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 10px;
}

.habilidades-contenedor {
  padding-top: 20px;
}
.habilidades-contenedor h2 {
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 10px;
}

.categoria-habilidad {
  margin-top: 25px;
}
.categoria-habilidad h3 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 10px;
  border-left: 5px solid #2A8E2E;
  padding-left: 8px;
}

.lineadetiempo-item {
  margin-top: 25px;
}
.lineadetiempo-item h3 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 10px;
  border-left: 5px solid #2A8E2E;
  padding-left: 8px;
}
.lineadetiempo-item p {
  font-size: 1rem;
  margin-bottom: 5px;
}
.lineadetiempo-item ul ul {
  padding-left: 20px;
  margin: 8px 0;
}
.lineadetiempo-item ul ul li {
  list-style: none;
  margin-bottom: 5px;
}

.contacto {
  display: flex;
  flex-direction: column;
}
.contacto h2 {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px;
}

.contacto-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 90%;
  margin: 0 auto 60px auto;
}

.info-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 12px #A9A9A9;
  border-radius: 8px;
  padding: 20px;
}
.info-card h3 {
  font-size: 0.75rem;
  font-weight: 700;
  text-align: center;
  margin: 10px 0 5px;
  color: #333333;
}
.info-card p {
  font-size: 0.95rem;
  text-align: center;
  color: #333333;
  margin: 0;
}
.info-card img {
  width: 35px;
  height: 35px;
}
.info-card a {
  text-decoration: none;
}

.social-links {
  display: flex;
  margin: 0;
  list-style: none;
  gap: 10px;
  padding: 0;
  align-items: center;
}
.social-links img {
  width: 20px;
  height: 20px;
}

.behance-icon-card img {
  width: 20px;
  height: 25px;
  margin-top: 5px;
}

.formulario {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px #A9A9A9;
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
}

.form-label {
  font-weight: 600;
}

.btn-success {
  width: 100%;
  padding: 10px;
  font-weight: 600;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #2A8E2E;
}

.footer-firma p {
  color: #ffffff;
  font-size: 15px;
  margin-bottom: 0;
}

.redes-sociales {
  list-style: none;
  display: flex;
  gap: 10px;
  margin-bottom: 0;
}
.redes-sociales a img {
  width: 30px;
  height: 30px;
  filter: invert(100%);
}

.behance-icon a img {
  width: 35px;
  height: 35px;
}

/*# sourceMappingURL=style.css.map */
